* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0rem;
    background-color: rgba(226, 226, 226, 0.849);

}

.divImgLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin-bottom: .5rem;
    background: rgb(255, 255, 255);

}

.imgLogoThamara {
    height: 8rem;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: auto;
    height: 8rem;
    font-size: 18px;
    overflow: hidden;
    padding-right: 2rem;
    background: rgb(255, 255, 255);


}

li {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background: rgb(255, 255, 255);
    padding-left: 1rem;
}

a,
li:hover {
    color: rgb(68, 68, 68);
    transform: scale(1.1);
    transition: transform 0.7s;
}

.imgMenu {
    width: 2.5rem;
    height: 2.5rem;
}

.divPosts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    height: 30rem;
}

.imgPosts {
    height: 25rem;
    width: 20rem;
}

.p-posts {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 20rem;
    width: 50rem;
}

.p-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20rem;
    width: 100%;
}

#footer-id {
    margin-top: 5rem;
}

@media only screen and (min-width: 340px) and (max-width: 714px) {

    ul {
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        height: auto;
        font-size: 10px;
        overflow: hidden;

    }

    .divPosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    height: 60rem;
}

.p-posts {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
    width: 95%;
}

.p-footer {
    font-size: 15px;
}
}